# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
*.egg-info/
.pybuild/
build/
dist/
debian/.debhelper/
debian/files
debian/debhelper-build-stamp
debian/python3-certbot-dns-infoblox*
*.deb

# Unit test / coverage reports
.coverage
.coverage.*

.venv
